@import "_vars";
@import "modules/_header";

img, embed, object, video {
    max-width: 100%;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
}

h1, h2, h3, h4 {
    color: $purple;
}

p {
    color: $grey;
}

a {
    font-family: $font; 
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $grey;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

