@import "_vars";

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img, embed, object, video {
    max-width: 100%;
    height: auto;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: $font;
}

h1, h2, h3, h4 {
    color: $purple;
}

h1 {
    font-size: 1.75em;
    text-align: center;
    @include m-t-80;
}

h2 {
    font-size: 1.25em;
}

p {
    color: $grey;
    line-height: 1.5em;
    font-size: 0.9em;
}

a {
    font-family: $font; 
    text-decoration: none;
    color: $grey;
    cursor: pointer;
}

ul, li {
    color: $grey;
    line-height: 1.5em;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

.link {
    cursor: pointer;
}

@media screen and (min-width:767px) {
    h1 { 
        font-size: 2em;
    }
}

@media screen and (min-width:1023px) {
    h1 { 
        font-size: 2.25em;
    }
    p, li {
        font-size: 1.2em;
    }
}

@keyframes fade-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes down-anim {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 10px);
    }
}

@keyframes img-fade-anim {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-anim {
    0% { transform: scale(1); opacity: 0; }
    10% { transform: scale(1.1); opacity: 1; }
    90% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); }
}

@keyframes wiggle-anim {
    25% {
        transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
    }
}

@keyframes rotate-anim {
    0% {
       transform: rotate(0deg); 
    }
    25% {
        transform: rotate(2deg); 
    }
    50% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(-2deg); 
    }
}

@import "modules/_header";
@import "modules/_development";
@import "modules/_project";
@import "modules/_about";
@import "modules/_motion";
@import "modules/_contact";
@import "modules/_submission";
@import "modules/_footer";

