.about {
    opacity: 0;
    @include column;
    align-items: center;
    @include m-r-25;
    @include m-l-25;
    transition: all .5s ease;
}

.about-img {
    max-width: 80%;
    margin-top: 20px;
}

.about-text {
    padding: 40px 20px 20px 20px;
    max-width: 80%;
    span {
        font-size: 1.25em;
        line-height: 1.5em;
    }
}

.skills-con {
    background-color: $blue;
    @include m-t-80;
    padding: 80px 25px;
    padding-bottom: 150px;
    @include column;
    align-items: center;
}

.skills {
    //width: 220px;
    @include m-l-a;
    @include m-r-a;
    @include column;
    align-items: center;
}

.ul-con {
    margin-top: 10px;
}

.skill-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.fa-square {
    font-size: .5em;
    margin-right: 8px;
    color: $grey;
}

.skills-dev {
    @include m-t-40;
}

.skills-g {
    @include m-t-40;
}

@media screen and (min-width: 767px) {
    .about {
        display: grid;
        grid-template-areas: "h1 h1"
                             "p img";
        grid-gap: 40px;
    }
    .about h1 {
        grid-area: h1;
        text-align: center;
    }
    .about-text {
        grid-area: p;
        padding: 0;
        margin-left: auto;
    }
    .about-img {
        grid-area: img;
        margin-right: auto;
    }
    .skills-con {
        @include row;
        justify-content: space-between;
        align-items: start;
        padding-bottom: 100px
    }
    .skills {
        margin-right: 0;
        margin-left: 0;
        width: auto;
    }
    .ul-con {
        display: grid;
        li { margin-top: 10px; }
    }
    .skills-dev { 
        margin-top: 0;
        .ul-con { 
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 25px;
        }
    }
    .skills-g { 
        margin-top: 0;
    }
    .skill-title {
        text-align: center;
    }
    
}

@media screen and (min-width: 1100px) {
    .about-text {
        padding-right: 60px;
    }
    .skills-con  {
        @include m-t-80;
        justify-content: space-evenly;
        padding-bottom: 120px;
    }
    .skill-title { 
        font-size: 1.5em;
        padding-bottom: 5px;
        border-bottom: $purple 2px solid;
    }
    .ul-con {
        margin-top: 20px;
    }
    .skills-dev {
        .ul-con {
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 40px;
        }
    }
    
}
