#about {
    opacity: 0;
    transition: all .5s ease;
}

.about {
    @include column;
    align-items: center;
    @include m-r-25;
    @include m-l-25;
}

.main-heading {
    margin-left: 30px;
    margin-right: 30px;
}

.about-img {
    max-width: 80%;
    margin-top: 20px;
}

.about-text {
    padding: 40px 20px 20px 20px;
    max-width: 80%;
    span {
        font-size: 1.25em;
        line-height: 1.5em;
    }
}

.skills-con {
    background-color: $grey;
    @include m-t-80;
    padding: 80px 25px;
    padding-top: 100px;
    @include column;
    align-items: center;
    position: relative;
}

.vine-bar {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $dark-grey;
    top: 36px;
    background: linear-gradient( #999, $dark-grey);
}

.vine {
    position: absolute;
    top: 20px;
    left: 0;
    width: 180px;
}

.skills {
    //width: 220px;
    @include m-l-a;
    @include m-r-a;
    @include column;
    align-items: center;
}

.ul-con {
    margin-top: 10px;
    list-style-image: url(../images/leaf.svg);
}

.skill-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.skills-dev {
    @include m-t-40;
}

.skills-g {
    @include m-t-40;
}

@media screen and (min-width: 450px) {
    .skills-dev {
        .ul-con {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 25px;
        }
    }
}

@media screen and (min-width: 767px) {
    .about {
        display: grid;
        grid-template-areas: "h1 h1"
                             "p img";
        grid-gap: 40px;
    }
    .main-heading {
        grid-area: h1;
        text-align: center;
        margin-right: auto;
        margin-left: auto
    }
    .about-text {
        grid-area: p;
        padding: 0;
        margin-left: auto;
    }
    .about-img {
        grid-area: img;
        margin-right: auto;
    }
    .skills-con {
        @include row;
        justify-content: space-evenly;
        align-items: start;
        padding-left: 40px;
        padding-right: 40px;
    }
    .skills {
        margin-right: 0;
        margin-left: 0;
        width: auto;
    }
    .ul-con {
        display: grid;
        li { margin-top: 10px; }
    }
    .skills-dev { 
        margin-top: 0;
    }
    .skills-g { 
        margin-top: 0;
    }
    .skill-title {
        text-align: center;
    }
    
}

@media screen and (min-width: 1100px) {
    .about-text {
        padding-right: 60px;
    }
    .skills-con  {
        @include m-t-80;
        justify-content: space-evenly;
        padding-bottom: 100px;
    }
    .skill-title { 
        //font-size: 1.5em;
        padding-bottom: 10px;
        border-bottom: $primary 1px solid;
    }
    .ul-con {
        margin-top: 5px;
    }
    .skills-dev {
        .ul-con {
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 40px;
        }
    }
    
}