#contact {
    opacity: 0;
    transition: all .5s ease;
    @include column;
    align-items: center;
    @include m-t-80;
    padding: 0 25px 30px 25px;;
    background-color: $blue;
    p {
        width: 80%;
        max-width: 670px;
        text-align: center;
        margin-top: 20px;
    }
}

#form {
    width: 80%;
    max-width: 670px;
    @include column;
    @include m-t-40;
    input, textarea {
        border: 1px solid $purple;
        background-color: $blue;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    ::placeholder {
        font-family: $font;
        font-size: .9em;
        color: $purple;
        opacity: .8;
    }
    textarea::placeholder {
        font-size: .8em;
    }
    .submit-btn {
        border: none;
        background-color: $purple;
        padding: 15px;
        border-radius: 5px;
        margin-top: 15px;
        font-family: $font;
        font-size: 1em;
        color: white;
        cursor: pointer;
        transition: all .5s  ease;
    }
    .submit-btn:hover {
        color: $purple;
        background-color: rgba($color: $nude, $alpha: .7);
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        box-shadow: 3px 2px 5px rgba($color: #000000, $alpha: .2);
    }
}

@media screen and (min-width: 1023px) {
    #form {
        input, textarea {
            padding: 12px;
        }
        ::placeholder {
            font-size: 1.2em;
        }
        textarea::placeholder {
            font-size: 1.3em;
        }
        .submit-btn {
            font-size: 1.5em;
        }
    }
}
