#development {
    @include column;
    align-items: center;
    h1 { max-width: 242px;}
    .dev-projects {
        @include column;
        align-items: center;
    }
    a { 
        @include m-r-a;
        @include m-l-a;
        width: 60%;
        padding: 30px;
        transition: all ease .5s; 
    }
    a:hover {
        border: 7px $blue solid;
        animation: wiggle-anim 1s; 
    }
    .project {
        cursor: pointer;
        //width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }
}

@media screen and (min-width:767px) {
    #development h1 { 
        font-size: 2em;
        max-width: 300px 
    }
    .dev-projects {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .project {
        @include m-r-a;
        @include m-l-a;
    }
}

@media screen and (min-width:1023px) {
    #development {
        h1 { 
            font-size: 2.25em;
        }
    }
    .dev-projects {
        @include row;
    }
    .project {
        max-width: 184.25px !important;
    }
}

@keyframes wiggle-anim {
    25% {
        transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
    }
}