#development {
    opacity: 0;
    transition: all .5s ease;
    @include column;
    align-items: center;
    h1 { max-width: 242px;}
    .dev-projects {
        @include column;
        align-items: center;
    }
    a { 
        @include m-r-a;
        @include m-l-a;
        width: 60%;
        padding: 30px;
        transition: all ease .5s; 
    }
    a:hover {
        border: 7px $blue solid;
        animation: wiggle-anim 1s; 
    }
    .project {
        cursor: pointer;
        //width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }
    .dev-projects:last-child {
        margin-bottom: 40px;
    }
}

@media screen and (min-width:767px) {
    #development h1 { 
        max-width: 300px 
    }
    .dev-projects {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .project {
        @include m-r-a;
        @include m-l-a;
    }
}

@media screen and (min-width:1023px) {
    .dev-projects {
        @include row;
    }
    .project {
        max-width: 184.25px !important;
    }
}

