#footer {
    @include column;
    align-items: center;
    background-color: $purple;
    padding: 15px 25px;
    position: relative;
    p { 
        color: white;
        font-size: .7em;
    }
}

.social-media {
    @include row;
    a { 
        margin-right: 8px;
        color: $blue;
        transition: all ease .5s;
    }
    a:hover, a:focus {
        color: rgba($color: $nude, $alpha: .6);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

//.bottom {
    //background-color: $blue;
    //padding-top: 20px;
    //position:  relative;
    //@include row;
    //justify-content: space-between;
//}

// .fa-chevron-up { 
//     color: $purple;
//     cursor: pointer;
//     @include m-r-25;
//     margin-top: 20px;
//     transition: all 1s ease;
// }

// .fa-chevron-up:hover {
//     -webkit-transform: scale(1.2);
//     -ms-transform: scale(1.2);
//     transform: scale(1.2);
//     color: rgba($color: $nude, $alpha: .8);
//     text-shadow: 3px 2px 4px rgba($color: #000000, $alpha: .3);
// }

.butterflies {
    position: absolute;
    top: -120px;
    left: 30px;
    width: 150px;
    //@include m-l-25;
    animation: rotate-anim 3s infinite alternate forwards;
}

@media screen and (min-width: 767px) {
    #footer {
        @include row;
        justify-content: space-between;
        padding: 25px 25px;
        p {
            font-size: .9em;
        }
    }
}