#footer {
    @include column;
    align-items: center;
    background-color: $primary;
    padding: 15px 25px;
    position: relative;
    p { 
        color: white;
        font-size: .7em;
    }
}

.social-media {
    margin-top: 10px;
    @include row;
    a { 
        margin-right: 8px;
        color: $grey;
        transition: all ease .5s;
    }
    a:hover, a:focus {
        opacity: .9;
        -webkit-transform: scale(.97);
        -ms-transform: scale(.97);
        transform: scale(.97);
    }
}

.fa-chevron-up { 
    color: $primary;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    top: -110px;
    right: 30px;
    transition: all .5s ease;
}

.fa-chevron-up:hover, .fa-chevron-up:focus {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
    opacity: .8;
    text-shadow: 3px 2px 4px rgba($color: #000000, $alpha: .3);
}

.lavendar {
    position: absolute;
    top: -200px;
    left: 30px;
    width: 90px;
    //@include m-l-25;
    //animation: rotate-anim 3s infinite alternate forwards;
}

@media screen and (min-width: 767px) {
    #footer {
        @include row;
        justify-content: space-between;
        padding: 25px 25px;
        p {
            font-size: .9em;
        }
    }
}

@media screen and (min-width: 900px) {
    .lavendar {
        width: 120px;
        top: -250px;
        left: 40px;
    }
}

