#main-header {
    height: 100vh;
    background-image: url(../images/sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include column;
    //animation: fade-anim 2s;
}

.sky {
    position: absolute;
    top: 0;
}

.mount {
    position: absolute;
    bottom: 0;
    z-index: 10;
    animation: intro 4s;
    background-position: center;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.header-border {
    @include column;
    margin: 20px;
    border: 2px solid $secondary;
    border-bottom: none;
    position: relative;
    height: 100%;
    // transition: all ease .5s;
    // animation: fade 1s backwards;
    // animation-delay: 2.5s;
}

.link-home {
    width: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    //margin-top: 20px;
    transition: all .5s ease;
    animation: slide-down 1s backwards;
    animation-delay: 2.5s;
    z-index: 30;
}

.link-home:hover, .link-home:focus {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
}

.logo {
    width: 100%;
}

.fa-bars {
    color: $primary;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all ease .5s;
    animation: slide-down 1s backwards;
    animation-delay: 2.5s;
    z-index: 30;
}

.fa-bars:hover, .fa-bars:focus {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
}

.rotated {
    @include rotate-90;
}

.main-nav {
    display: none;
}

.main-nav.visible {
    position: absolute;
    right: 35px;
    width: 50%;
    @include column;
    text-align: center;
    z-index: 30;
}

.link {
    color: $primary;
    transition: all ease .5s;
    border-bottom: #ccc 1px solid;
    margin-top: 10px;
    padding: 5px;
    width: 60%;
    @include m-r-a;
    @include m-l-a;
}

.link:last-child { border-bottom: none; }

.link:hover, .link:focus {
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    transform: scale(.99);
    opacity: .7;
}

.welcome {
    @include column;
    text-align: center;
    margin-top: 35vh;
    @include m-l-25;
    @include m-r-25;
    //text-shadow: 2px 2px 2px rgba($secondary, .5);
    //background-color: rgba($secondary, .4);
    animation: rise 3s forwards;
    span {
        display: block;
    }
    .large {
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .small { 
        font-size: 1.5em;
        margin-top: 8px;
    }
}

.dots {
    display: none;
}

@media screen and (min-width: 767px) {
    .welcome {
        margin-top: 25vh;
    }

    .main-nav.visible {
        text-align: right;
        top: 60px;
        right: 0;
        width: 30%;
    }

    .dots {
        @include column;
        align-items: center;
        position: absolute;
        z-index: 20; 
        bottom: 25vh;
        right: 40px;
        transition: all .5s ease;
        color: $primary;
        transition: all .5 s;
        animation: slide-down 1s backwards;
        animation-delay: 3s;
    }

    .dot {
        font-size: 2em;
        line-height: .5em;
    }


    .fa-chevron-down { 
        margin-top: 12px;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1024px) {
    .link-home {
        top: 30px;
        left: 35px;
    }

    .welcome {
        margin-top: 20vh;
        .large {
            font-size: 1.5em;
            margin-top: 0;
            margin-bottom: 8px;
        }
        .small { 
            font-size: 1.2em;
            margin-top: 5px;
        }
    }

    .fa-bars {
        display: none !important;
    }

    .main-nav {
        @include column;
        text-align: right;
        position: fixed;
        top: 35px;
        right: 40px;
        z-index: 30;
        transition: all ease .5s;
        animation: slide-down 1s backwards;
        animation-delay: 2.5s;
    }

    .link { 
        color: $primary;
        transition: all ease .5s;
        border: none;
        margin-top: 5px;
        padding: 0;
        width: 100%;
    }

    .link:hover, .link:focus { 
        -webkit-transform: scale(.99);
        -ms-transform: scale(.99);
        transform: scale(.99);
        text-decoration: underline;
        opacity: .7;
    }

    .dots {
        bottom: 30vh;
    }

}

