#main-header {
    height: 100vh;
    background-image: url(../images/hero-small1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include column;
    animation: fade-anim 2.5s;
}

.link-home {
    width: 100px;
    @include m-r-a;
    @include m-l-a;
    margin-top: 20px;
    transition: all 1s ease;
}

.link-home:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.logo {
    width: 100%;
}

.fa-bars {
    color: $purple;
    margin-right: 10px;
    margin-top: 10px;
    @include m-l-a;
    cursor: pointer;
    transition: all ease 1s;
}

.fa-bars:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.rotated {
    @include rotate-90;
}

.main-nav {
    display: none;
}

.main-nav.visible {
    @include column;
    text-align: center;
    a {
        color: $purple;
        transition: all ease .5s;
        border-bottom: #ccc 1px solid;
        margin-top: 10px;
        padding: 5px;
        width: 60%;
        @include m-r-a;
        @include m-l-a;
    }
    a:last-child { border-bottom: none; }
    a:hover { background-color : rgba($color: $nude, $alpha: .6); }
}

.welcome {
    @include column;
    text-align: center;
    //@include m-t-40;
    margin-top: 30px;
    @include m-l-25;
    @include m-r-25;
    //background-color: rgba($color: $purple, $alpha: .3);
    text-shadow: 2px 2px 2px rgba($blue, .5);
    h1 {
        margin-top: 0 !important;
        margin-top: 20px !important;
    }
}

.dots {
    display: none;
}

.fa-chevron-down {
    color: $purple; 
    position: absolute;
    bottom: 20px;
    left: 50%;
    right: 50%;
    transition: all .5s ease;
    animation: down-anim 1s infinite;
    animation-delay: 1s;
}

@media screen and (min-width: 401px) {
    #main-header {
        background-image: url(../images/hero-small2.jpg);
    }
}

@media screen and (min-width: 513px) {
    #main-header {
        background-image: url(../images/hero-medium.jpg);
    }
}

@media screen and (min-width: 767px) {
    .welcome {
        text-align: left;
        @include m-t-80;
        h1 {
            text-align: left;
            margin-bottom: 10px;
        }
    }
    
    .fa-bars {
        margin-top: 20px;
        margin-right: 20px;
    }

    .link-home {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 150px;
        margin-top: 0;
    }

    .main-nav.visible {
        position: relative;
        @include m-r-25;
        @include m-l-a;
        text-align: right;
        margin-top: 10px;
        a { width: 100%; }
    }

    .dots {
        display: block;
        position: absolute;
        bottom: 40px;
        right: 40px;
        font-size: 2em;
        transition: all .5s ease;
        animation: down-anim 1s infinite;
        animation-delay: 1s;
        li {
            padding: 0;
            margin: 0;
            color: $purple;
            line-height: .5em;
        }
    }

    .fa-chevron-down { 
        position: absolute;
        bottom: 10px;
        right: 30px;
        left: auto;
        line-height: .5em;
    }
}

@media screen and (min-width: 1024px) {
    #main-header {
        background-image: url(../images/hero-large.jpg);
    }

    .link-home {
        width: 200px !important;
    }

    .welcome {
        margin-top: 350px !important;
        h1 {
            font-size: 2.25em;
        }
        h2 {
            font-size: 1.7em;
        }
    }

    .fa-bars {
        display: none !important;
    }

    .main-nav {
        display: block;
        text-align: right;
        position: fixed;
        top: 20px;
        right: 25px;
        z-index: 10;
        a > li { 
            color: $purple; 
            transition: all ease .5s;
        }
        a > li:hover { 
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
            background-color : rgba($color: $nude, $alpha: .5); 
        }
        li { padding: 5px; }
    }
}

