#project-header {
    @include column;
    background-color: $blue;
    height: 50vh;
    .link-home {
        width: 100px;
        @include m-r-a;
        @include m-l-a;
        margin-top: 20px;
    }
    
    .logo {
        width: 100%;
    }
}

.project-con {
    h1 { padding: 0 50px; }
}

.dt-img-con {
    height: 500px;
    overflow-y: scroll;
    @include m-t-40;
    @include m-r-25;
    @include m-l-25;
}

.desc {
    @include m-r-25;
    @include m-l-25;
    h2 {
        @include m-t-80;
    }
    span { 
        color: #666666;
        font-size: 0.85em; 
    }
}

.m-img {
    @include m-r-a;
    @include m-l-a;
    @include m-t-80;
    margin-bottom: 40px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    img { 
        width: 50%; 
        @include m-r-a;
        @include m-l-a; 
    }
    img:last-child { @include m-t-40; }
}

.error-con {
    @include column;
    align-items: center;
    margin: 50px;
}

.error-home {
    padding: 30px;
    background-color: $purple;
    color: white;
    transition: all .5s ease;
    border-radius: 5px;
}

.butterflies-con {
    @include column;
    //align-items: center;
}

.project-butterflies {
    width: 150px;
    margin-top: 20px; 
    @include m-l-a;
    @include m-r-a;
}

@media screen and (min-width: 767px) {
    #project-header {
        height: 100px;
        .link-home {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 150px !important;
            margin-top: 0 !important;
        }
    }
    
    .project-con {
        @include m-r-25;
        @include m-l-25;
    }

    .m-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img { width: 80%; }
        img:last-child {
            margin-top: 0 !important;
            @include m-l-40;
        }
    }

    .project-butterflies {
        @include m-l-25;
    }
}

@media screen and (min-width: 1024px) {
    #project-header {
        height: 150px;
        .link-home {
            width: 200px !important;
        }
    }
    .project-con {
        display: grid !important;
        grid-template-areas: "h1 h1"
                             "dt-img desc"
                             "m-img m-img";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px 500px auto;
        grid-gap: 40px;
        h1 {
            grid-area: h1;
            @include m-t-100;
        }
        .dt-img-con {
            grid-area: dt-img;
            margin-top: 50px !important;
        }
        .desc {
            grid-area: desc;
            margin-top: 0 !important;
            h2 { margin-top: 50px !important; }
        }
        .m-img {
            grid-area: m-img;
            display: flex;
            justify-content: center;
            img { 
                width: 25%;
                height: auto; 
            }
        }
    }
    

}