// #project-header {
//     @include column;
//     background-color: $blue;
//     height: 50vh;
//     .link-home {
//         width: 100px;
//         @include m-r-a;
//         @include m-l-a;
//         margin-top: 20px;
//     }
    
//     .logo {
//         width: 100%;
//     }
// }

.dev-lightbox {
    // opacity: 0;
    // transition: all ease .5s;
    display: none;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 500;
}

.close-dev-lightbox {
    font-weight: bolder;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 2em;
}

.dev-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 70px;
}

.project-con {
    margin-top: 120px;
    margin-bottom: 150px;
    @include column;
    align-items: center;
    .title { 
        padding: 0 50px;
        font-size: 1.7em;
        font-weight: bold;
    }
}

.dt-img-con {
    height: 500px;
    overflow-y: scroll;
    @include m-t-40;
    @include m-r-25;
    @include m-l-25;
}

.desc {
    @include m-r-25;
    @include m-l-25;
    h4 {
        @include m-t-80;
        font-size: 1.3em;
    }
    span { 
        color: #666666;
        font-size: 0.85em; 
    }
    p { margin-top: 20px; }
}

.m-img {
    @include m-r-a;
    @include m-l-a;
    @include m-t-80;
    margin-bottom: 40px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    img { 
        width: 50%; 
        @include m-r-a;
        @include m-l-a; 
    }
    img:last-child { @include m-t-40; }
}

.error-con {
    @include column;
    align-items: center;
    margin: 50px;
}

.error-home {
    padding: 30px;
    background-color: $purple;
    color: white;
    transition: all .5s ease;
    border-radius: 5px;
}

.butterflies-con {
    @include column;
    //align-items: center;
}

.project-butterflies {
    width: 150px;
    margin-top: 20px; 
    @include m-l-a;
    @include m-r-a;
}

@media screen and (min-width: 767px) {
    // #project-header {
    //     height: 100px;
    //     .link-home {
    //         position: absolute;
    //         top: 20px;
    //         left: 20px;
    //         width: 150px !important;
    //         margin-top: 0 !important;
    //     }
    // }
    
    .project-con {
        @include m-r-25;
        @include m-l-25;
    }

    .m-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10%;
        img { width: 80%; }
        img:last-child {
            margin-top: 0;
        }
    }

    .project-butterflies {
        @include m-l-25;
    }
}

@media screen and (min-width: 900px) {
    // #project-header {
    //     height: 150px;
    //     .link-home {
    //         width: 200px !important;
    //     }
    // }

    .project-con {
        display: grid;
        grid-template-areas: "title title"
                             "dt-img desc"
                             "m-img m-img";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px 500px auto;
        grid-gap: 5%;
        margin-bottom: 250px;
        .title {
            grid-area: title;
            justify-self: center;
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
        .dt-img-con {
            grid-area: dt-img;
            margin: 0;
            padding: 0;
            align-self: start;
        }
        .desc {
            grid-area: desc;
            align-self: start;
            margin: 0;
            padding: 0;
            h4 { margin-top: 0; }
        }
        .m-img {
            grid-area: m-img;
            display: flex;
            justify-content: center;
            img { 
                width: 25%;
                height: auto; 
            }
        }
    }
    

}