
.dev-lightbox {
    // opacity: 0;
    // transition: all ease .5s;
    display: none;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 500;
    height: 100vh;
    overflow: scroll;
}

.close-dev-lightbox {
    font-weight: bolder;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 1.5em;
    transition: all .5s ease;
    animation: slide-down 1s backwards;
    animation-delay: .3s;
}

.close-dev-lightbox:hover, .dev.close-dev-lightbox:focus {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
    opacity: .8;
}

.dev-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 40px;
    transition: all .5s ease;
    animation: slide-down 1s backwards;
    animation-delay: .3s;
}

.dev-logo:hover, .dev-logo:focus {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
    opacity: .8;
}

.project-con {
    margin-top: 120px;
    margin-bottom: 40px;
    @include column;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
    transition: all .5s ease;
    animation: slide-down 1s backwards;
    animation-delay: .3s;
}

.project-title { 
    padding: 0 50px;
    font-size: 1.7em;
    font-weight: bold;
}

.dt-img-con {
    height: 500px;
    overflow-y: scroll;
    @include m-t-40;
    @include m-r-25;
    @include m-l-25;
}

.desc {
    @include m-r-25;
    @include m-l-25;
    h4 {
        @include m-t-80;
        font-size: 1.3em;
        font-weight: bold;
    }
    span { 
        color: #666666;
        font-size: 0.85em; 
    }
    p { margin-top: 20px; }
}

.m-img {
    @include m-r-a;
    @include m-l-a;
    @include m-t-80;
    margin-bottom: 40px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    img { 
        width: 50%; 
        @include m-r-a;
        @include m-l-a; 
    }
    img:last-child { @include m-t-40; }
}

.error-con {
    @include column;
    align-items: center;
    margin: 50px;
}

.error-home {
    padding: 30px;
    background-color: $primary;
    color: white;
    transition: all .5s ease;
    border-radius: 5px;
}

.project-lavendar {
    position: absolute;
    width: 100px;
    left: 20px;
    top: 97%;
}

@media screen and (min-width: 767px) {

    .project-con {
        margin-left: 30px;
        margin-right: 30px;
    }

    .m-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10%;
        img { width: 80%; }
        img:last-child {
            margin-top: 0;
        }
    }

    .project-butterflies {
        @include m-l-25;
    }
}

@media screen and (min-width: 900px) {

    .project-con {
        display: grid;
        grid-template-areas: "title title"
                             "dt-img desc"
                             "m-img m-img";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px 500px auto;
        grid-gap: 7%;
        margin-bottom: 250px;
        margin-left: 50px;
        margin-right: 50px;
        .project-title {
            grid-area: title;
            justify-self: center;
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
        .dt-img-con {
            grid-area: dt-img;
            margin: 0;
            padding: 0;
            align-self: start;
        }
        .desc {
            grid-area: desc;
            align-self: start;
            margin: 0;
            padding: 0;
            //border-left: 2px solid $primary;
            //background-color: $secondary;
            h4 { margin-top: 0; }
            h4:last-of-type { margin-top: 40px; }
        }
        .m-img {
            grid-area: m-img;
            display: flex;
            justify-content: center;
            img { 
                width: 25%;
                height: auto; 
            }
        }
    }
    

}