#submission-header {
    @include column;
    background-color: $secondary;
    height: 25vh;
    .link-home {
        width: 100px;
        @include m-r-a;
        @include m-l-a;
        margin-top: 20px;
    }
    
    .logo {
        width: 100%;
    }
}

.submission-con {
    @include column;
    align-items: center;
    background-color: $secondary;
    p {
        padding: 30px;
        text-align: center;
        color: $primary;
        font-size: 1em;
        border: 3px solid $primary;
        border-radius: 5px;
    }
}

.sub-butterflies {
    @include m-t-40;
    width: 100px;
}

@media screen and (min-width: 767px) {
    #submission-header {
        height: 150px;
        .link-home {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 150px !important;
            margin-top: 0 !important;
        }
    }
}

@media screen and (min-width: 1023px) {
    #submission-header {
        .link-home {
            width: 200px !important;
        }
    }
}

